body
	{
		font-family: Verdana, Arial, sans-serif;
	}

/*Enveloppe tout le contenu du body*/
.wrapper
	{
		width: 775px;
		height: 680px;
		position: relative;
		margin: 0 auto;
	}

header
	{
		height: 145px;
	}

#navzone
	{
		height: 95px;
	}

.navi
	{
		display: block;
		margin-right: 25px;
		float: right;
	}

.navi li
	{
		display: inline-block;
		padding-top: 50px; 
		background-image: url('../pics/puce.png');
		background-repeat: no-repeat;
		background-position: center;
		margin: 0 20px; 
	}

.navi li a
	{
		text-decoration: none;
		font-size: 0.8em;
		color: #969482;
	}


#divtitle
	{
		height: 50px;
		background-image: url('../pics/body_bg.png');
	}

h1
	{
		font-size: 35px;
		color: #FFFFFF;
		margin-left: 425px;
		line-height: 50px;	/*meme hauteur que .divtitle pour centrer*/
		font-weight: bold;
		text-align: right;
		margin-right: 30px;
	}

#fruits
	{
		position: absolute;
		top: 40px;
	}	

.txttop
	{
		margin-top: 25px;
		padding-left: 425px;
	}

h2
	{
		font-size: 20px;
		color: #969482;
		margin-bottom: 15px;
	}

.titleright
	{
		border-bottom: dotted;
		border-width: 1.65px;
		border-color: #969482;
	}

.redtitle
	{
		color: #E73E01;
	}	

.txttop p
	{
		font-size: 11px;
		color: #969482;
		margin-top: 25px;
	}

.h3
	{
		font-weight: bold;
		font-size: 11px;
		color: #9FA110;
		margin-bottom: 15px;
	}	

.txtwelcome a
	{
		text-decoration: none;
		color: #000000;
		text-decoration: underline;		
	}

#readmore
	{
		text-decoration: none;
		color: #000000;
		text-decoration: underline;
	}

.txtbottom
	{
		margin-top: 70px;
	}	

#news
	{
		width: 185px;
		border-right: dotted;
		border-width: 1.65px;
		border-color: #969482;
		float:left;
	}

#todayrecip
	{
		margin-left: 30px;
		float: left;
	}		

.titleleft
	{	
		width: 160px;
		border-bottom: dotted;
		border-width: 1.65px;
		border-color: #969482;
	}

.txtleft li
	{
		margin-top: 15px;
		width: 155px;
		font-size: 10px;
		margin-bottom: 10px;
		background-image: url('../pics/puce.png');
		background-repeat: no-repeat;
		margin-left: 10px;
		padding-left: 20px;
		background-position: 0 3px;	/*horizont	le vertical*/
	}

.smalltitle
	{
		font-size: 9px;
		color: #9FA110;
		font-weight: bold;
	}		

.subright
	{	
		margin-top: 25px;
		width: 250px;
		float: left;
	}

.subimg
	{
		float: left;
	}

.subtxt
	{
		font-size: 9px;
		width: 130px;
		float: left;
		margin-left: 20px;
		margin-top: 20px;
	}

.subtxt span p 
{
	margin-top: 5px;
}	

.bottomtxt
	{
		font-size: 11px;
		color: #969482;
		float: left;
		margin-top: 25px;
		margin-left: 5px;
	}	

.clear
	{
		clear: both;
	}	

#footerwrap
{
	background-color: #AFA77B;
	height: 60px;
}

#footerwrap ul
{
	width: 385px;
	margin: auto;
	padding-top: 20px;
	text-align: center;
}

footer ul li
{
	display: inline-block;
}

footer ul li a
{
	text-decoration: none;
	font-family: arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

footer #copy
{
	text-align: center;
	padding: 20px 0;
	font-size: 11px;
	color: #8B6C42;
}
